@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #39FF14;
    font-family: 'Tilt Prism';
    padding: 50px;
    font-size: 50px;
}

main {
    text-align: center;
    padding-top: 75px;
}

#quote-box {
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 3);
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin: 0 auto;
}

.quote {
    font-size: 24px;
}

.source {
    padding-top: 24px;
}


.load-quote {
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    background-color: blue;
    color: white;
    box-shadow: 0 2px 4px black;
}

.load-quote:hover {
    background-color: aqua;
    cursor: pointer;
}

/* Add a solid border and make it the same color as the background */
img {
    max-width: 150px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}